/* body {
    background-color: rgb(196, 238, 230);
} */

h2 {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

form {
    margin: 10px;
}

.modal-container {
    background-color: rgba(0,0,0, 0.3);
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.modal {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.close-modal {
    margin-right: 10px;
    color: rgb(138, 138, 138);
    font-size: 24px;
}

.close-modal:hover {
    color: black;
    cursor: pointer;
}

.form-contents {
    margin-bottom: 5px ;
}

#submit-btn {
    margin-top: 15px;
}